:root {
    --omnibox-wrapper-size: clamp(5rem, 3.4375rem + 2 * 3%, 6rem);
    --toolbar-size: var(--omnibox-wrapper-size);
    --bookmarks-display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #102a43;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 16vh;
    overflow: hidden;
}

.content {
    position: relative;
    height: 2.5rem;
    text-align: center;
    background-color: white;
}

/* waves :3 */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 6s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 9s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 12s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 21s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-5.625rem, 0, 0);
    }

    100% {
        transform: translate3d(5.3125rem, 0, 0);
    }
}

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5625rem;
    letter-spacing: 0.375rem;
    text-align: center;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
}


#uv-form {
    display: flex;
    flex: 1;
}

.search-container {
    position: relative;
    width: min(50rem, 80%);
    display: flex;
}

.loader {
    position: absolute;
    top: calc(50% - 3.125rem/2);
    left: calc(50% - 3.125rem/2);
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: 0.5rem solid;
    border-color: #005cb2 #0000;
    animation: l1 1s infinite;
}
@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

.uv-frame {
    position: absolute;
    top: var(--toolbar-size);
    left: 0;
    width: 100%;
    height: calc(100% - var(--toolbar-size));
    border: none;
}

.loaded-frame {
    background: white;
}

.none {
    display: none !important;
}

.navigator-wrapper {
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    fill: white;
    width: 2rem;
    height: 2rem;
    stroke-linejoin: bevel;
    stroke-width: 0.25rem;
    padding: 0.25rem;
}

.nav-icon:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.with-bookmarks {
    --toolbar-size: calc(var(--omnibox-wrapper-size) + 2.5rem);
    --bookmarks-display: flex;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.toolbar-wrapper {
    width: 100%;
    display: flex;
    height: var(--toolbar-size);
    flex-wrap: wrap;
    align-content: space-evenly;
}

.bookmarks-wrapper {
    width: 100%;
    height: 2rem;
    font-size: 0.75rem;
    display: var(--bookmarks-display);
    align-items: center;
    justify-content: left;
    margin: 0 1rem 0.75rem;
    align-self: start;
}

.bookmark-favicon {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}

.bookmark {
    display: flex;
    align-items: center;
    color: white;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: default;
}

.bookmark:hover:not(.dragging) {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.bookmark-favicon-waiting {
    visibility: hidden;
}

.omnibox-wrapper {
    width: 100%;
    display: flex;
    height: var(--omnibox-wrapper-size);
    justify-content: center;
    align-items: center;
}

.omnibox {
    width: 90%;
}

.search-input {
    align-items: center;
    display: flex;
    height: 3.125rem;
    width: 100%;
    padding: 0.3125rem 0.625rem;
    border: none;
    border-radius: 1.5625rem;
    color: white;
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}
.search-input:hover,
.search-input:focus-within {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.4);
}

#uv-address {
    width: 100%;
    height: 2.1875rem;

    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 1.5625rem;
    font-size: 1rem;
    outline: none;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
    transition: none;

}

#uv-address::selection {
    background-color: lightblue;
}

.bookmark-star {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    padding: 0.25rem;
}

.bookmark-star:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.bookmark-divider {
    color: lightblue;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vhidden {
    visibility: hidden;
}

.vertical-bar {
    stroke: lightblue;
    stroke-width: 0.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.625rem 1.25rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.settings {
    position: relative;
    margin: 0.5% 0 0.5% min(2.25rem, 3%);
    padding-right: 2.25rem;
}

.settings-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.settings-button:hover {
    transform: rotate(45deg);
}

.settings-button img {
    width: 2.1875rem;
    height: 2.1875rem;
}

.settings-button:hover img {
    opacity: 0.6;
}

.back-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.back-button img {
    width: 2.1875rem;
    height: 2.1875rem;
}

.back-button:hover img {
    opacity: 0.6;
}

.game-link {
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
}

.games {
    position: relative;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.games-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.games-button img {
    width: 2.1875rem;
    height: 2.1875rem;
}

.games-button:hover img {
    opacity: 0.6;
}

.game-image {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 3rem;
}

.logo img {
    width: 2.1875rem;
    height: 2.1875rem;
    padding: 0;
}


.logo:hover img {
    opacity: 0.6;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.notch {
    width: 3.125rem;
    height: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    z-index: 1001;
    cursor: pointer;
}

.no-pointer-events {
    pointer-events: none;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0s 0.3s;
    z-index: 1001;
}

.popup-content {
    position: relative;
    background-color: #0a1128;
    width: 90%;
    max-width: 37.5rem;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 0.75rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
    padding: 1.5625rem;
    animation: popupOpenAnimation 0.4s ease-out;
}

.popup-content::-webkit-scrollbar {
    width: 0.625rem;
}

.popup-content::-webkit-scrollbar-thumb {
    background-color: rgba(10, 17, 40, 0.5);
    /* Subtle thumb color */
    border-radius: 0.3125rem;
}

#popup.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease;
    backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem);
}

.popup-content .close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 1.375rem;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease;
}

.popup-content .close:hover {
    color: #007bff;
}

@keyframes popupOpenAnimation {
    from {
        transform: scale(0.85);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.dropdown,
.dropdown2 {
    margin: 1.25rem 0;
    background-color: #0c1836;
    padding: 1.25rem;
    border-radius: .625rem;
    box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.15);
}


.cardtext1,
.cardtext2 {
    margin-bottom: 0.625rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    color: #dce4f7;
    letter-spacing: 0.0313rem;
}

.themebutton,
.tabbutton {
    background-color: #1565C0;
    color: #ffffff;
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.125rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.tab-cloak-icon {
    margin: 0.125rem 1rem 0.125rem 0rem;
    width: 1.5rem;
    height: 1.5rem;
}

.themebutton:hover,
.tabbutton:hover {
    background-color: #104f8b;
    transform: translateY(-0.125rem);
}


.dropdown-content,
.dropdown-content2 {
    display: none;
    margin-top: 0.75rem;
    max-height: 12.5rem;
    overflow-y: auto;
    border: 0.0625rem solid #2a3c5f;
    border-radius: 0.5rem;
    background-color: #132e47;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.dropdown-content::-webkit-scrollbar,
.dropdown-content2::-webkit-scrollbar {
    width: 0.5rem;
}

.dropdown-content::-webkit-scrollbar-thumb,
.dropdown-content2::-webkit-scrollbar-thumb {
    background-color: rgba(10, 17, 40, 0.3);
    border-radius: 0.25rem;
}

.dropdown-content a,
.dropdown-content2 a {
    padding: 0.625rem 0.9375rem;
    color: #b3c2df;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0.25rem;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover {
    background-color: #1c3a63;
    color: #ffffff;
}

.show {
    display: block;
}

.close {
    font-family: 'Inter', sans-serif;
    font-size: 1.375rem;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}